* {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #000;
}

.link {
  text-decoration: none;
  color: #fff;
}

/*~~~~~~~~~~~ MEDIA ~~~~~~~~~~*/
/*
@media (min-width: 640px) {
  a.header-logo {
    width: 205px;
    margin: 39px auto 0;
  }

  div.wrapper {
    padding: 1px 58px;
  }

  div.header-title {
    margin-top: 178px;
  }

  div.header-title h2:nth-child(1) {
    font-size: 64px;

    margin-left: 27px;
  }
}
*/


/*~~~~~~~~~~ HEADER ~~~~~~~~~*/

.header {
  position: relative;
  min-width: 320px;
  min-height: 568px;
  padding-top: 33px;
  padding-bottom: 73px;
  box-sizing: border-box;
  background-color: #0a0e34;
  background: url('../img/football_320.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 0;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0a0e34;
  opacity: 0.9;
}

.header-box {
  position: relative;
  z-index: 10;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.header-logo {
  display: block;
  width: 133px;
  height: 36px;
  margin: 0 auto;
  fill: #fff;
  z-index: 3;
}

.header-title {
  margin-top: 127px;
}

.header-title h2 {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  color: #fff;
}

.header-title span {
  display: block;
  max-width: 210px;
  margin-top: 21px;
  margin-left: auto;
}

.header-download {
  margin: 85px auto 0;
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  height: 35px;
  margin-top: 15px;
  background-color: #5e42b0;
  border-radius: 25px;
}

.apple-logo {
  fill: #fff;
  width: 20px;
}

.google-logo {
  fill: #fff;
  width: 22px;
}

.button-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  font-size: 8px;
}

.button-text span {
  font-weight: bold;
}

.google-button {
  display: flex;
  width: 105px;
}

.main {
  min-width: 320px;
  background-color: #fff;
}

/*~~~~~~~~~ ATHLETS ~~~~~~~~~*/

.athlets {
  background-color: #fff;
  position: relative;
}

.athlets h2 {
  font-weight: bold;
  font-size: 50px;
  color: #e7e7e7;
  text-transform: uppercase;
  padding-top: 18px;
}

.athlets::before {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10px;
  content: '';
  background: url('../img/footballer_320.png') no-repeat center;
  min-width: 320px;
  height: 281px;
  margin: 95px auto auto 0;
}

.connection {
  margin-top: 234px;
  padding-top: 83px;
  padding-bottom: 50px;
  background-color: #fafafa;
}

.connection-title , .collaboration-title {
  display: flex;
  flex-wrap: wrap;
}

.connection-title sup , .collaboration-title sup , .growth-title sup {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #000;

  margin-top: 3px;
  margin-right: 10px;
}

.connection-title sup::after , .collaboration-title sup::after {
  content: '';
  display: block;
  width: 15px;
  height: 4px;
  border-radius: 2px;
  background-color: #5e42b0;
}

.connection-title h3 , .collaboration-title h3 , .growth h3 {
  display: flex;
  line-height: 26px;
  font-size: 23px;
  text-transform: uppercase;
  color: #c1c1c1;

  margin-left: 10px;
}

.connection-text , .collaboration-text , .growth-text {
  font-size: 15px;
  text-align: justify;
  margin-top: 27px;
}

.collaboration {
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 49px;
  background-color: #f5f4f9;
}

.growth {
  padding-top: 50px;
  padding-bottom: 55px;
  background-color: #5e42b0;
}

.growth-title {
  display: flex;
  flex-wrap: wrap;

}

.growth-title sup::after {
  content: '';
  display: block;
  width: 15px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
}

.growth-text {
  color: #fff;
}

/*~~~~~~~~~~~~ PLAYERS ~~~~~~~~~*/

.players {
  position: relative;
}

.players h2 {
  font-weight: bold;
  font-size: 50px;
  color: #e7e7e7;
  text-transform: uppercase;
  padding-top: 18px;
}

.players::before {
  display: flex;
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url('../img/basketballer_320.png') no-repeat center;
  min-width: 302px;
  height: 248px;
  margin: 95px auto auto 0;
}

.players-growth {
  padding-top: 50px;
  padding-bottom: 55px;
  background-color: #090c35;
}

.players-growth-title {

  color: #8765dd;
}

.players-growth-title sup {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #5e42b0;

  margin-top: 3px;
  margin-right: 10px;
}

.players-growth h3 {
  display: flex;
  flex-wrap: wrap;
  line-height: 26px;
  font-size: 23px;
  text-transform: uppercase;
  color: #c1c1c1;

  margin-left: 10px;
}

.players-growth-title sup::after {
  content: '';
  display: block;
  width: 15px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
}

.players-growth-text {
  font-size: 15px;
  text-align: left;
  margin-top: 27px;
  color: #fff;
}

/*~~~~~~~~~BE ACTIVE~~~~~~~~~*/

.be-active {
  position: relative;
}

.be-active-bg {
  height: 351px;
  background: url('../img/be-active_320.jpg') no-repeat center / cover;
}

/*
.be-active-wrapper , .find-contact-wrapper , .work-it-wrapper {

}
*/

.be-active-title span , .find-contact-title span , .work-it-title span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 293px;
  width: 70px;
  height: 70px;
  background-color: #5e42b0;

  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.be-active-title span::after , .find-contact-title span::after , .work-it-title span::after {
  content: '';
  display: block;
  width: 15px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  opacity: 0.302;
}

.be-active-title h2 , .find-contact-title h2 , .work-it-title h2 {
  margin-top: 19px;
  font-size: 28px;
  text-transform: uppercase;
  color: #e7e7e7;
}

.be-active-text {
  width: 80%;
  margin-top: 20px;
  padding-bottom: 76px;
}

/*~~~~~~~~~ FIND CONTACT ~~~~~~~~~*/

.find-contact {
  position: relative;
}

.find-contact-bg {
  height: 351px;
  background: url('../img/find-contact-bg_320.jpg') no-repeat center / cover;
}

.find-contact-text {
  font-size: 16px;
  margin-top: 20px;
  padding-bottom: 76px;
}

/*~~~~~~~~~~ WORK IT ~~~~~~~~~~~*/

.work-it {
  position: relative;
}

.work-it-bg {
  height: 351px;
  background: url('../img/work-it_320.jpg') no-repeat center / cover;
}

.work-it-text {
  font-size: 16px;
  margin-top: 19px;
  padding-bottom: 76px;
}

/*~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~*/

.footer {
  min-width: 320px;
  min-height: 568px;
  box-sizing: border-box;
  padding-top: 99px;
  position: relative;

  background-color: #0a0e34;
  background: url('../img/game_767.jpg') no-repeat center / cover;
}

.footer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0a0e34;
  opacity: 0.9;
}

.footer-box {
  position: relative;
  z-index: 10;
}

.footer-app-logo {
  display: flex;
  width: 72px;
  height: 74px;
  border-radius: 15px ;
  background: #50329c;
  background: linear-gradient(to top, #50329c, #7751db);
  margin: 0 auto;
  justify-content: center;
}

.footer-app-logo svg {
  width: 57px;
  height: 47px;
  fill: #fff;
  align-self: center;
}

.footer-title {
  margin-top: 43px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.footer-title h2 {
  font-size: 32px;
  font-weight: bold;
  word-spacing: 13px;
}

.footer-title span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  word-spacing: normal;
  color: #9b8ec1;
}

.footer-logo {
  display: block;
  width: 133px;
  margin: 75px auto 0;
  fill: #fff;
}

.footer-download {
  margin: 77px auto 0;
}

@media (min-width: 640px) {
  .wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }

  .header {
    min-height: 960px;
    padding-bottom: 91px;
    box-sizing: border-box;
  }

  .header-logo {
    width: 205px;
    height: 56px;
  }

  .header-title {
    margin-top: 173px;
  }

  .header-title h2 {
    font-size: 64px;
    padding-left: 76px;
  }

  .header-title span {
    display: block;
    max-width: 506px;
    margin-top: 21px;
    margin-left: auto;
  }

  .header-download, .footer-download {
    display: flex;
    justify-content: space-around;
    margin-top: 296px;
  }

  .button {
    width: 310px;
    height: 78px;
    border-radius: 78px;
  }

  .button:hover {
    box-sizing: border-box;
    border: 5px solid #7966b0;
  }

  .button:nth-child(2n+2) {
      margin-left: 30px;
  }

  .button-text {
    font-size: 14px;
    font-weight: 300;
    margin-left: 23px;
    line-height: 16px
  }

  .google-button {
    width: 200px;
  }

  .apple-logo {
    width: 46px;
  }

  .google-logo {
    width: 45px;
  }

  .connection, .collaboration, .growth {
    display: flex;
  }

  .connection-box, .collaboration-box, .growth-box {
    width: 442px;
    margin-left: auto;
  }
}
