* {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #000;
}

.link {
  text-decoration: none;
  color: #fff;
}

/*~~~~~~~~~~ HEADER ~~~~~~~~~*/

.header {
  position: relative;
  min-width: 320px;
  min-height: 568px;
  padding-top: 33px;
  padding-bottom: 73px;
  box-sizing: border-box;
  background-color: #0a0e34;
  background: url('../img/football_320.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 0;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0a0e34;
  opacity: 0.9;
}

.header-box {
  position: relative;
  z-index: 10;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.header-logo {
  display: block;
  width: 133px;
  height: 36px;
  margin: 0 auto;
  fill: #fff;
  z-index: 3;
}

.header-title {
  margin-top: 127px;
}

.header-title h2 {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  color: #fff;
}

.header-title span {
  display: block;
  max-width: 210px;
  margin-top: 21px;
  margin-left: auto;
}

.header-download {
  margin: 85px auto 0;
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  height: 35px;
  margin-top: 15px;
  background-color: #5e42b0;
  border-radius: 25px;
  box-shadow: 0px 16px 24px 0px rgba(10, 14, 52, 0.4);
}

.apple-logo {
  fill: #fff;
  width: 20px;
}

.google-logo {
  fill: #fff;
  width: 22px;
}

.button-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  font-size: 8px;
}

.button-text span {
  font-weight: bold;
}

.google-button {
  display: flex;
  width: 105px;
}

.main {
  min-width: 320px;
  background-color: #fff;
}

/*~~~~~~~~~ ATHLETS ~~~~~~~~~*/

.athlets {
  background-color: #fff;
  position: relative;
}

.athlets h2 {
  font-weight: bold;
  font-size: 50px;
  color: #e7e7e7;
  text-transform: uppercase;
}

.athlets-title {
  padding-top: 18px;
}

.athlets::before {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10px;
  content: '';
  background: url('../img/footballer_320.png') no-repeat center;
  min-width: 320px;
  height: 281px;
  margin: 95px auto auto 0;
}

.connection {
  margin-top: 234px;
  padding-top: 83px;
  padding-bottom: 50px;
  background-color: #fafafa;
}

.connection-title , .collaboration-title {
  display: flex;
  flex-wrap: wrap;
}

.connection-title sup , .collaboration-title sup , .growth-title sup {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #000;

  margin-top: 3px;
  margin-right: 10px;
}

.connection-title sup::after , .collaboration-title sup::after {
  content: '';
  display: block;
  width: 15px;
  height: 4px;
  border-radius: 2px;
  background-color: #5e42b0;
}

.connection-title h3 , .collaboration-title h3 , .growth h3 {
  display: flex;
  line-height: 26px;
  font-size: 23px;
  text-transform: uppercase;
  color: #c1c1c1;

  margin-left: 10px;
}

.connection-text , .collaboration-text , .growth-text {
  font-size: 15px;
  text-align: justify;
  margin-top: 27px;
}

.collaboration {
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 49px;
  background-color: #f5f4f9;
}

.growth {
  padding-top: 50px;
  padding-bottom: 55px;
  background-color: #5e42b0;
}

.growth-title {
  display: flex;
  flex-wrap: wrap;

}

.growth-title sup::after {
  content: '';
  display: block;
  width: 15px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
}

.growth-text {
  color: #fff;
}

/*~~~~~~~~~~~~ PLAYERS ~~~~~~~~~*/

.players {
  position: relative;
}

.players-title h2 {
  font-weight: bold;
  font-size: 50px;
  color: #e7e7e7;
  text-transform: uppercase;
  padding-top: 18px;
}

.players::before {
  display: flex;
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url('../img/basketballer_320.png') no-repeat center;
  min-width: 302px;
  height: 248px;
  margin: 95px auto auto 0;
}

.players-growth {
  padding-top: 50px;
  padding-bottom: 55px;
  background-color: #090c35;
}

.players-growth-title {

  color: #8765dd;
}

.players-growth-title sup {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #5e42b0;

  margin-top: 3px;
  margin-right: 10px;
}

.players-growth h3 {
  display: flex;
  flex-wrap: wrap;
  line-height: 26px;
  font-size: 23px;
  text-transform: uppercase;
  color: #c1c1c1;

  margin-left: 10px;
}

.players-growth-title sup::after {
  content: '';
  display: block;
  width: 15px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
}

.players-growth-text {
  font-size: 15px;
  text-align: left;
  margin-top: 27px;
  color: #fff;
}

/*~~~~~~~~~BE ACTIVE~~~~~~~~~*/

.be-active , .find-contact , .work-it {
  position: relative;
}

.be-active-img-box, .find-contact-img-box, .work-it-img-box {
  height: 351px;

  overflow: hidden;
}

.be-active-img-box img, .find-contact-img-box img, .work-it-img-box img {
  width: 100%;
}


.be-active-wrapper , .find-contact-wrapper , .work-it-wrapper {
  position: relative;
}

.be-active-title span , .find-contact-title span , .work-it-title span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: -79px;
  width: 70px;
  height: 70px;
  background-color: #5e42b0;

  font-size: 14px;
  font-weight: bold;
  color: #fff;
  z-index: 999;
}

.be-active-title span::after , .find-contact-title span::after , .work-it-title span::after {
  content: '';
  display: block;
  width: 15px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  opacity: 0.302;
}

.be-active-title h2 , .find-contact-title h2 , .work-it-title h2 {
  margin-top: 19px;
  font-size: 28px;
  text-transform: uppercase;
  color: #e7e7e7;
}

.be-active-text {
  width: 80%;
  margin-top: 20px;
  padding-bottom: 76px;
}

/*~~~~~~~~~ FIND CONTACT ~~~~~~~~~*/

.find-contact {

}

.find-contact-img-box {

}

.find-contact-img-box img {

}

.find-contact-text {
  font-size: 16px;
  margin-top: 20px;
  padding-bottom: 76px;
}

/*~~~~~~~~~~ WORK IT ~~~~~~~~~~~*/

.work-it {

}

.work-it-img-box {

}

.work-it-img-box img {

}

.work-it-text {
  font-size: 16px;
  margin-top: 19px;
  padding-bottom: 76px;
}

/*~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~*/

.footer {
  min-width: 320px;
  min-height: 568px;
  box-sizing: border-box;
  padding-top: 99px;
  position: relative;

  background-color: #0a0e34;
  background: url('../img/game_767.jpg') no-repeat center / cover;
}

.footer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0a0e34;
  opacity: 0.9;
}

.footer-box {
  position: relative;
  z-index: 10;
}

.footer-app-logo {
  display: flex;
  width: 72px;
  height: 74px;
  border-radius: 15px ;
  background: #50329c;
  background: linear-gradient(to top, #50329c, #7751db);
  margin: 0 auto;
  justify-content: center;
}

.footer-app-logo svg {
  width: 57px;
  height: 47px;
  fill: #fff;
  align-self: center;
}

.footer-title {
  margin-top: 43px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.footer-title h2 {
  font-size: 32px;
  font-weight: bold;
  word-spacing: 13px;
}

.footer-title p {
  display: block;
  font-size: 14px;
  font-weight: 400;
  word-spacing: normal;
  color: #9b8ec1;
}

.footer-logo {
  display: block;
  width: 133px;
  margin: 75px auto 0;
  fill: #fff;
}

.footer-download {
  margin: 77px auto 0;
}

@media (min-width: 641px) {
  .wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }

  .header {
    min-height: 960px;
    padding-bottom: 91px;
    box-sizing: border-box;
    background-image: url('../img/football_767.jpg');
  }

  .header-logo {
    width: 205px;
    height: 56px;
  }

  .header-title {
    margin-top: 173px;
  }

  .header-title h2 {
    font-size: 64px;
    padding-left: 76px;
  }

  .header-title span {
    display: block;
    max-width: 506px;
    margin-top: 21px;
    margin-left: auto;
  }

  .header-download, .footer-download {
    display: flex;
    justify-content: space-around;
    margin-top: 296px;
  }

  .button {
    width: 310px;
    height: 78px;
    border-radius: 78px;
    margin-top: 0;
  }

  .button:hover {
    box-sizing: border-box;
    border: 5px solid #7966b0;
  }

  .button:nth-child(2n+2) {
      margin-left: 30px;
  }

  .button-text {
    font-size: 14px;
    font-weight: 300;
    margin-left: 23px;
    line-height: 16px
  }

  .google-button {
    width: 200px;
  }

  .apple-logo {
    width: 46px;
  }

  .google-logo {
    width: 45px;
  }
/*~~~~~~~~~~~~~~ ATHLETS ~~~~~~~~~~~~~*/
  .athlets .connection {
    margin-top: 60px;
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 30px;
  }

  .athlets-title {
    padding-top: 0;
  }

  .athlets .collaboration {
    padding-top: 35px;
  }

  .connection-title h3, .collaboration-title h3, .growth-title h3, .players-growth-title h3 {
    font-size: 32px;
    margin-left: 0;
    letter-spacing: 2px;
  }

  .connection-title sup, .collaboration-title sup, .growth-title sup, .players-growth-title sup {
    font-size: 18px;
    margin-top: 0;
  }

  .connection-title sup::after, .collaboration-title sup::after, .growth-title sup::after, .players-growth-title sup::after {
    width: 19px;
    height: 5px;
    margin-top: 5px;
  }

  .connection-text, .collaboration-text, .growth-text {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 26px;
  }

  .growth-text, .players-growth-text {
    font-weight: 300;
  }

  .growth {
    padding-top: 40px;
    padding-bottom: 33px;
  }

  .connection, .collaboration, .growth {
    display: flex;
  }

  .athlets .connection-box, .athlets .collaboration-box, .growth-box {
    width: 442px;
    margin-left: auto;
  }

  .athlets {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    padding-top: 80px;
  }

  .athlets::before {
    background-image: url('../img/footballer_497.png');
    width: 497px;
    height: 699px;
    top: 10px;
    left: -160px;
  }

  .athlets-title h2 {
    font-size: 80px;
    line-height: 64px;
    width: 442px;
    margin-left: auto;
  }
  /*~~~~~~~~~~~~~~ PLAYERS ~~~~~~~~~~~~~~*/
  .players {
    padding-top: 85px;
  }

  .players::before {
    background-image: url('../img/basketballer_436.png');
    width: 436px;
    height: 565px;
    margin-left: auto;
    margin-right: 0;
    top: -50px;
  }

  .players-title h2 {
    font-size: 80px;
    line-height: 64px;
    padding-top: 0;
  }

  .players .connection {
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 35px;
    background-color: #fff;
  }

  .players .connection-box {
    width: 400px;
  }

  .players .collaboration-box, .players-growth-box {
    width: 440px;
  }

  .players .connection-box, .players .collaboration-box, .players-growth-box {
    margin-right: auto;
  }

  .players .collaboration, .players-growth {
    padding-top: 42px;
    padding-bottom: 33px;
  }

  .players-growth-text  {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
  }
  /*~~~~~~~~~~~~~~~~ BE ACTIVE ~~~~~~~~~~~~~~~~*/

  .be-active-img-box, .find-contact-img-box, .work-it-img-box {
    height: 584px;
  }

  .be-active-img-box img, .find-contact-img-box img, .work-it-img-box img {
    width: auto;
  }

  .be-active-title span , .find-contact-title span , .work-it-title span {

    top: -155px;
    width: 116px;
    height: 116px;

    font-size: 24px;
    letter-spacing: 2px;
  }

  .be-active-title span::after , .find-contact-title span::after , .work-it-title span::after {
    width: 28px;
  }

  .be-active-title h2, .find-contact-title h2, .work-it-title h2 {
    font-size: 80px;
    margin-top: 71px;
  }

  .be-active-text, .find-contact-text, .work-it-text {
    width: 86%;
    height: 66px;
    font-size: 24px;
  }
  /*~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~*/

  .footer {
    padding-top: 126px;
    padding-bottom: 23px;
    background-image: url('../img/game_1280.jpg');
  }

  .footer-app-logo {
    width: 130px;
    height: 137px;
    border-radius: 30px;
  }

  .footer-app-logo svg {
    width: 104px;
    height: 85px;
  }

  .footer-title {
    margin-top: 57px;
  }

  .footer-title h2 {
    font-size: 80px;
    letter-spacing: 3px;
    word-spacing: 3px;
  }

  .footer-title p {
    font-size: 36px;
    letter-spacing: 1px;
  }

  .footer-download {
    margin-top: 267px;
    justify-content: center;
  }

  .button {
    width: 40%;
  }


  .footer-logo {
    width: 205px;
    height: 56px;
    margin-top: 60px;
  }
}

@media (min-width: 961px) {
  .wrapper {
    padding-left: 9%;
    padding-right: 9%;
  }

  .header {
    padding-bottom: 110px;
    background-image: url('../img/football_1280.jpg');
  }

  .header-logo {
    width: 191px;
    height: 52px;
  }

  .header-title {
    display: flex;
    flex-wrap: wrap;
    margin-top: 280px;
  }

  .header-title h2 {
    width: 100%;
    font-size: 90px;
    padding-left: 0;
    line-height: 100px;
    letter-spacing: 10px;
  }

  .header-title span {
    max-width: 1200px;
    min-height: 244px;
    flex-basis: 800px;
    text-align: right;
    margin-top: 0;
  }

  .header-download {
    margin-top: 100px;
    justify-content: center;
  }

  .button {
    max-width: 310px;
  }

  .button:nth-child(2n+2) {
    margin-left: 50px;
  }

  /*~~~~~~~~~~~~~~~~~~~~~ ATHLETS ~~~~~~~~~~~~~~~~~*/
  .athlets, .players {
    padding-top: 116px;
  }

  .players {
    overflow: hidden;
  }

  .athlets-title h2 {
  /*
  min-width: 700px;
*/
  }

   .connection-box, .collaboration-box, .growth-box, .players-growth-box {
    min-width: 700px;
    max-width: 1920px;
    margin-right: 0;
  }

  .connection-title h3, .collaboration-title h3, .growth-title h3, .players-growth-title h3 {
    font-size: 36px;
  }

  .connection-text, .collaboration-text, .growth-text, .players-growth-text {
    font-size: 18px;
  }

  .athlets::before {
    background-image: url(../img/footballer_566.png);
    width: 566px;
    height: 908px;
    top: 27px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 50% 0 auto;

    transition: 1s;
  }

  .connection, .collaboration, .growth {
    justify-content: center;
  }

  .athlets .connection {
    margin-top: 100px;
    padding-bottom: 50px;
    padding-top: 0;
  }

  .athlets .collaboration {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .growth, .players-growth {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .players .connection {
    margin-top: 115px;
    padding-bottom: 50px;
    padding-top: 0;
  }

  .players::before {
    background-image: url(../img/basketballer_991.png);
    width: 991px;
    height: 815px;
    margin: 0 auto 0 39%;
    top: 15px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .players .collaboration {
    padding-top: 60px;
    padding-bottom: 84px;
  }

  /*~~~~~~~~~~~~~~~~~~~~~ BE ACTIVE ~~~~~~~~~~~~~~~~~~~~*/

  .be-active, .find-contact, .work-it {
    display: flex;
    justify-content: center;
    height: 730px;
    max-width: 1920px;
    margin: 0 auto 0;
  }

  .be-active-img-box, .find-contact-img-box, .work-it-img-box {
    width: 50%;
    height: 100%;
    position: relative;
  }
  .be-active-img-box img, .work-it-img-box img {
    position: absolute;
    min-width: 1024px;
    height: 100%;
    right: 0;
  }

  .find-contact-img-box {
    order: 2;
  }

  .find-contact-img-box img{
    position: absolute;
    min-width: 1024px;
    height: 100%;
    left: 0;
  }

   div.be-active-wrapper.wrapper , div.find-contact-wrapper.wrapper, div.work-it-wrapper.wrapper {
    box-sizing: border-box;
    width: 50%;
    padding-left: 122px;
    padding-right: 9%;
    padding-top: 261px;
  }

  div.find-contact-wrapper.wrapper {
   box-sizing: border-box;
   width: 50%;
   padding-right: 122px;
   padding-left: 9%;
   padding-top: 261px;
 }

  .be-active-title h2, .find-contact-title h2, .work-it-title h2 {
    margin-top: 0;
  }

  .be-active-title span, .find-contact-title span, .work-it-title span {
    width: 168px;
    height: 155px;
    top: 0;
    left: -89px;
    right: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .find-contact-title span {
    left: auto;
    right: -89px;
  }

  /*~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~*/
    .footer {
      padding-top: 229px;
      padding-bottom: 52px;
      background-image: url('../img/game_1920.jpg');
    }

    .footer-apptitle-box {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .footer-app-logo, .footer-title {
      margin: 0;
      min-width: 130px;
    }

    .footer-title {
      text-align: left;
      margin-left: 30px;
      margin-top: 10px;
      line-height: 60px;
      min-width: 704px;
    }

    .footer-title p {
      font-size: 30px;
      margin-left: 5px;
    }

    .footer-download {
      margin-top: 151px;
    }

    .footer-logo {
      margin-top: 262px;
      width: 191px;
      height: 52px;
    }

  /*~~~~~~~~~~~~~~~~~~ AFTER 1920px CONTENT CENTER ~~~~~~~~~~~~~~~~~~~*/

  .athlets-title div {
    max-width: 1920px;
    margin: 0 auto;
  }

  .athlets .connection-title, .athlets .collaboration-title, .athlets .growth-title, .athlets-title h2 {
    max-width: 700px;
    width: 50%;
    margin-left: auto;
  }

  .connection-text, .collaboration-text, .growth-text, .players-growth-text {
    font-size: 18px;
    width: 50%;
    max-width: 700px;
  }

  .athlets .growth-text, .athlets .collaboration-text, .athlets .connection-text {
    margin-left: auto;
  }

  .connection-box, .collaboration-box, .growth-box, .players-growth-box, .players-title h2 {
    max-width: 1920px;
    flex-grow: 1;
    width: auto;
    margin: 0 auto;
  }

  .players .connection-box, .players .collaboration-box, .players-growth-box, .players-title h2 {
    margin: 0 auto;
  }
}
@media (min-width: 1920px) {
  .header {
    background-image: url('../img/football_1920.jpg');
  }
}

@media (min-width: 2100px) {
  .athlets::before {
    margin: 0 1522px 0 auto;
    transition: 1s;
  }

}
